html, body {
    padding: 0;
    margin 0;
}

* {
    box-sizing: border-box;

}

container {
    height: 100vh;
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 100px auto;
    grid-template-areas: 
    "header" "header"
    "aside" "main";
}

.header{
grid-area: header;
}

.page-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.page-title h1 {
    font-size: 30px;
    margin: 0;
}

.page-title h2 {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}

aside{
grid-area: sidebar;
}

main{
grid-area: main;
    
}